#shop, #seen-products, #ipsun-instagram {
    background-color: #efede8;
    padding-bottom: 30px;
    h2 {
        font-weight: normal;
        font-size: 29.5px;
        text-align: center;
        padding-top: 60px;
        margin-top: 0;
    }
    p {
        text-align: center;
    }
    .shop-items, .seen-shop-items {
        .product {
            width: 200px;
            height: 330px;
            background-color: white;
            margin: 0 8px;
            padding: 10px;
            text-align: center;
                &:hover {
                    .see-more {
                        opacity: 1;
                    }
                }
            .product-category {
                font-size: 12px;
            }
            .product-name {
                font-size: 14px;
                max-width: 130px;
                min-height: 34px;
                font-weight: bold;
                margin: 0 auto;
            }
            .product-price {
                font-size: 16px;
                margin: 5px 0;
            }
            .product-image {
                margin-top: 15px;
            }
            .see-more {
                font-size: 12px;
                text-transform: uppercase;
                border-top: 1px solid #999999;
                margin: 0;
                padding: 10px;
                cursor: pointer;
                opacity: 0;
                transition: 0.5s;
            }
            .available-colors {
                margin-bottom: 20px;
                .color-option {
                    position: relative;
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                    transition: 0.2s;
                    cursor: pointer;
                    &:hover {
                        transform: scale(1.2);
                    }
                    
                    &.option1 {
                        background-color: #1a7ba8;
                        &::before {
                            content: '';
                            position: absolute;
                            bottom: 8px;
                            left: -15px;
                            width: 14px;
                            height: 14px;
                            border-top: 2px solid #a3a3a3;
                            border-right: 2px solid #a3a3a3;
                            transform: rotate(-135deg) translateY(-50%);
                        }
                    }
                    &.option2 {
                        background-color: #ffed9d;
                    }
                    &.option3 {
                        background-color: #211500;
                    }
                    &.option4 {
                        background-color: #2c2c2c;
                        &::after {
                            content: '';
                            position: absolute;
                            top: 7px;
                            right: -15px;
                            width: 14px;
                            height: 14px;
                            border-top: 2px solid #a3a3a3;
                            border-right: 2px solid #a3a3a3;
                            transform: rotate(45deg) translateY(-50%);
                        }
                    }
                }
            }      
        }
        .bundle-price {
            span {
                font-weight: bold;
                margin-left: 10px;
            }
            .value {
                max-width: 65px;
                margin: 0 20px;
                
                s {
                    font-size: 14px;
                }
                b {
                    display: block;
                    font-size: 18px;
                }
            }
            .buy-all {
                display: block;
                border: none;
                background-color: #cd0020;
                color: white;
                font-size: 17px;
                font-weight: bold;
                width: 120px;
                padding: 5px 10px;
                text-transform: uppercase;
                cursor: pointer;
                
            }
        } 
    }
    .buy-together {
        h2 {
            margin-bottom: 0;
        }
        p {
            margin-bottom: 30px;
        }
    }
    .ipsun-loren-insta{
        img {
            width: 200px;
            margin: 0 5px;
        }
        .slider-next, .slider-prev {
            position: absolute;
            display: block;
            height: 30px;
            top: 50%;
            border: none;
            background-color: transparent;
            z-index: 2;
            transform: translateY(-50%);
            cursor: pointer;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                background-color: #d9d9d9;
                height: 30px;
                width: 30px;
                cursor: pointer
            }
            &::after {
                 content: '';
                 position: absolute;
                 top: 8px;
                 width: 15px;
                 height: 15px;
                 border-top: 2px solid white;
                 border-right: 2px solid white;
                 transform: rotate(45deg) translateY(-50%);
            }
        }
        .slider-next{
            right: -50px;
            &::before {
                right: 0;
            }
            &::after {
                top: 13px;
                right: 15px;
            }
        }
        .slider-prev{
             &::before {
                 left: -50px;
             }
             &::after {
                 left: -38px;
                 transform: rotate(-135deg);
             }
         }
     }
     .seen-shop-items {
         position: relative;
        .slider-next, .slider-prev {
            position: absolute;
            display: block;
            height: 30px;
            top: 50%;
            border: none;
            background-color: transparent;
            z-index: 2;
            transform: translateY(-50%);
            cursor: pointer;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                background-color: #d9d9d9;
                height: 30px;
                width: 30px;
                cursor: pointer
            }
            &::after {
                 content: '';
                 position: absolute;
                 top: 8px;
                 width: 15px;
                 height: 15px;
                 border-top: 2px solid white;
                 border-right: 2px solid white;
                 transform: rotate(45deg) translateY(-50%);
            }
        }
        .slider-next{
            right: -50px;
            &::before {
                right: 0;
            }
            &::after {
                top: 13px;
                right: 15px;
            }
        }
        .slider-prev{
            left: -50px;
             &::before {
                 left: 0px;
             }
             &::after {
                 left: 11px;
                 transform: rotate(-135deg);
             }
         }
     }
}
