#top-footer {
    background-color: #efede8;
    padding: 30px 0;
    .categories, .information, .follow-us, .newsletter {
        margin: 0 50px;
        h4 {
            margin: 5px 0;
            font-weight: normal;
            font-size: 17px;
            color: #d0102e;
        }
        p {
            margin: 0;
            font-size: 12px;
        }
        img {
            margin-top: 10px;
        }
        .news-input {
            display: flex;
            input {
                background-color: #d9d9d9;
                margin-right: 5px;
                padding: 5px 15px;
            }
            .search-button {
                position: relative;
                width: 26px;
                height: 26px;
                background-color: transparent;
                border: 1px solid black;
                &::before {
                    content: '';
                    position: absolute;
                    top: 45%;
                    left: 4px;
                    width: 8px;
                    height: 8px;
                    border-top: 2px solid black;
                    border-right: 2px solid black;
                    transform: rotate(45deg) translateY(-50%);
                }
            }      
        }    
    }
    .newsletter {
        margin-top: 30px;
        border-top: 1px solid #9999;
    }
}