footer {
    padding: 15px 0;
    .pag-logos {
        border-bottom: 2px dotted #9999;
        padding-bottom: 10px;
    }
    .rights {
        margin: 15px 0;
        p {
            font-size: 10px;
            display: block;
            margin: 0 auto;
            text-align: center;
        }
    }
}